[Unit]
Description=Nitrogen API instance
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name api -p 80:80 nitrogen/api /var/www/api/n2
ExecStop=/usr/bin/docker rm -f api 

[X-Fleet]
X-Conflicts=api.*.service
