[Unit]
Description=Nitrogen MongoDB Announce 1 
BindsTo=mongodb.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /n2/mongodb/1 '{ \"host\": \"%H\", \"port\": 27017 }' --ttl 60; sleep 45; done"
ExecStop=/usr/bin/etcdctl rm /n2/mongodb/1

[X-Fleet]
X-ConditionMachineOf=mongodb.1.service
