[Unit]
Description={{{description}}}
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull {{{container}}}
ExecStart=/usr/bin/docker run --name {{{name}}} {{{ports}}} {{{container}}}
ExecStopPre=/usr/bin/docker kill {{{name}}}
ExecStop=/usr/bin/docker rm {{{name}}}
TimeoutStartSec=0
Restart=always
RestartSec=10s

[X-Fleet]
MachineMetadata=type={{{type}}}
Conflicts={{{name}}}@*.service
