[Unit]
Description=Nitrogen Consumption Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill consumption
ExecStartPre=-/usr/bin/docker rm consumption
ExecStartPre=/usr/bin/docker pull nitrogen/consumption:latest
ExecStart=/usr/bin/docker run --rm --name consumption -p 80:8080 nitrogen/consumption
ExecStop=/usr/bin/docker stop consumption

[X-Fleet]
X-Conflicts=consumption@*.service
