[Unit]
Description=Nitrogen Frontdoor Service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull nitrogen/frontdoor:latest
ExecStart=/usr/bin/docker run --name frontdoor -p 80:8080 nitrogen/frontdoor
ExecStopPre=/usr/bin/docker kill frontdoor 
ExecStop=/usr/bin/docker rm frontdoor 
TimeoutStartSec=0
Restart=always
RestartSec=10s

[X-Fleet]
X-Conflicts=frontdoor@*.service
