[Unit]
Description=Nitrogen Ingestion Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill ingestion
ExecStartPre=-/usr/bin/docker rm ingestion
ExecStartPre=/usr/bin/docker pull nitrogen/ingestion:latest
ExecStart=/usr/bin/docker run --rm --name ingestion -p 80:8080 nitrogen/ingestion
ExecStop=/usr/bin/docker stop ingestion

[X-Fleet]
X-Conflicts=ingestion@*.service
